<div class="card_feature">
  <div class="icon">
    <img src="{{ photo }}" alt="photo" class="icon_photo" />
  </div>
  <h3 class="feature_title">{{ heading }}</h3>
  <p class="feature_text">{{ info }}</p>
  <a href="{{ linkUrl }}" class="feature_link">{{
    linkText
  }}</a>
</div>
