{{#with header}}
<div class="nav_head">
	<div class="logo">
		<p>{{brandName}}</p>
	</div>
	<ul class="nav_header">
		{{#each links}}
		<li><a href="{{url}}" class="link_header">{{text}}</a></li>
		{{/each}}
	</ul>
</div>

<div class="info_header">
	<div class="ad">
		<p class="ad_header">Ad</p>
		{{#with ad}}
		<p class="text_ad">{{text}}:</p>
		<a href="{{url}}" class="link_ad">{{url}}</a>
		{{/with}}

	</div>
	<p class="user_online">Users online: {{userOnline}}</p>
</div>
{{/with}}